<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View All Gabbles</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body>
    <nav>
      <a href='/home'>Gabble</a>
      <a href='/create'>Create New Gabble</a>
      <a href='/login'>Log In As {{username}}</a>
      <a href='/logout'>Log Out</a>
    </nav>
    <form method="post" action="/view">
      <header>
        <h1>Below You Should See: Gabs (Messages!), Likes (By Other People)</h1>
      </header>
    <ul>
      {{#data}}
      <li>
        <div class="messages">
        <span><h3>{{username}}</h3></span>
        <a href="/view/{{id}}">{{body}}</a> - <span>{{likes}} likes</span>
        {{date}}
        <a href="/list/{{id}}">{{total_likes}}</a> - <span>{{total_likes}} total likes</span>
        </div>
        <form class="delete" method="post" action="/edit/{{id}}">
          <button type="submit">Edit</button>
        </form>
        <form class="delete" method="post" action="/delete/{{id}}/delete">
          <button type="submit">Delete</button>
        </form>
        <form class="like" method="post" action="/like/{{id}}">
          <button type="submit">Like</button>
        </form>
      </li>
      {{/data}}
    </ul>
    </form>
  </body>
</html>
